.buttonRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonRow.withLegend {
  justify-content: space-between;
}

@media (max-width: 835px) {
  .buttonRow {
    padding: 5px 12px 13px;
    box-sizing: border-box;
  }
}

@media (min-width: 835px) {
  .buttonRow {
    width: 795px;
    margin: 5px auto 15px;
  }
}

.buttonGroup {
  display: inline-block;
}

.button {
  padding: 0.78571429em 1.5em 0.78571429em;
  margin: 0;
  border: none;
  font-weight: bold;
  background: transparent;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.95);
  background-color: #e0e1e2;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.buttonGroup .button {
  border-radius: 0;
}

.buttonGroup .button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.buttonGroup .button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button:hover {
  background: #cacbcd;
}

.button:focus-within,
.button:focus {
  outline: none !important;
  border-color: #ffb200;
}

.active {
  background: #c0c1c2;
}
